Repository yeti-platform/yeti, pull requests merged in 2024-06, with the labels that each got.

#1083 Update sslblacklist_ja3.py
  plugins/feeds/public/sslblacklist_ja3.py
Labels: bug, tasks:feed

#1088 Allow for longer expiry delays when issuing browser cookies
  .github/workflows/feedtest.yml
  .github/workflows/unittests.yml
  core/web/apiv2/auth.py
  yeti.conf.sample
Labels: enhancement

#1087 Malpedia
  core/database_arango.py
  core/schemas/dfiq.py
  core/schemas/entity.py
  core/schemas/indicator.py
  plugins/feeds/public/malpedia.py
  plugins/feeds/public/malpedia_actors.py
  plugins/feeds/public/malpedia_malware.py
  tests/feeds.py
  tests/schemas/entity.py
  tests/schemas/indicator.py
Labels: tasks:feed, feature-request

#1089 Context in entities
  core/schemas/entity.py
  plugins/feeds/public/deprecated/tweetlive.py
  plugins/feeds/public/malpedia.py
  tests/feeds.py
Labels: tasks:feed, feature-request

#1093 Use default value for browser token expiry
  core/web/apiv2/auth.py
Labels: code health

#1091 Add YAraify
  core/schemas/task.py
  plugins/feeds/public/yaraify.py
  tests/feeds.py
Labels: tasks:feed, feature-request

#1094 update MITRE
  plugins/feeds/public/attack.py
Labels: enhancement, tasks:feed

#1095 Add delete observable endpoint
  core/web/apiv2/observables.py
  tests/apiv2/observables.py
Labels: enhancement
