Repository yeti-platform/yeti, pull requests merged in 2024-10, with the labels that each got.

#1140 Add Yeti Package to create several objects defined as json
  core/schemas/package.py
  tests/schemas/package.py
Labels: enhancement, noteworthy, core

#1137 Add Support for Exports Read/Writing From S3 Buckets
  core/clients/file_storage/__init__.py
  core/clients/file_storage/classes/interface.py
  core/clients/file_storage/classes/local_storage.py
  core/clients/file_storage/classes/s3.py
  core/schemas/task.py
  core/web/apiv2/tasks.py
  poetry.lock
  pyproject.toml
  tests/core_tests/tasks.py
Labels: enhancement, dependencies, noteworthy

#1144 Add events bus when inserting or updating new object in arangodb
  core/database_arango.py
  core/events/__init__.py
  core/events/consumers.py
  core/events/message.py
  core/events/producer.py
  core/schemas/__init__.py
  core/schemas/dfiq.py
  core/schemas/entity.py
  core/schemas/graph.py
  core/schemas/indicator.py
  core/schemas/model.py
  core/schemas/observable.py
  core/schemas/package.py
  core/schemas/tag.py
  core/schemas/task.py
  core/schemas/template.py
  core/schemas/user.py
  core/taskmanager.py
  core/taskscheduler.py
  core/web/apiv2/graph.py
  plugins/events/__init__.py
  plugins/events/log/__init__.py
  plugins/events/log/event_logger_example.py
  plugins/inline/__init__.py
  plugins/inline/hostname_extract.py
Labels: enhancement, dependencies, code health, noteworthy, core

#1157 Improve schemas loader to handle several classes in same file
  core/schemas/__init__.py
  core/schemas/entities/attack_pattern.py
  core/schemas/entities/campaign.py
  core/schemas/entities/company.py
  core/schemas/entities/course_of_action.py
  core/schemas/entities/identity.py
  core/schemas/entities/intrusion_set.py
  core/schemas/entities/investigation.py
  core/schemas/entities/malware.py
  core/schemas/entities/note.py
  core/schemas/entities/phone.py
  core/schemas/entities/threat_actor.py
  core/schemas/entities/tool.py
  core/schemas/entities/vulnerability.py
  core/schemas/indicators/forensicartifact.py
  core/schemas/indicators/query.py
  core/schemas/indicators/regex.py
  core/schemas/indicators/sigma.py
  core/schemas/indicators/suricata.py
  core/schemas/indicators/yara.py
  core/schemas/observables/asn.py
  core/schemas/observables/bic.py
  core/schemas/observables/certificate.py
  core/schemas/observables/cidr.py
  core/schemas/observables/command_line.py
  core/schemas/observables/container_image.py
  core/schemas/observables/docker_image.py
  core/schemas/observables/email.py
  core/schemas/observables/file.py
  core/schemas/observables/generic.py
  core/schemas/observables/hostname.py
  core/schemas/observables/iban.py
  core/schemas/observables/imphash.py
  core/schemas/observables/ipv4.py
  core/schemas/observables/ipv6.py
  core/schemas/observables/ja3.py
  core/schemas/observables/jarm.py
  core/schemas/observables/mac_address.py
  core/schemas/observables/md5.py
  core/schemas/observables/mutex.py
  core/schemas/observables/named_pipe.py
  core/schemas/observables/package.py
  core/schemas/observables/path.py
  core/schemas/observables/registry_key.py
  core/schemas/observables/sha1.py
  core/schemas/observables/sha256.py
  core/schemas/observables/ssdeep.py
  core/schemas/observables/tlsh.py
  core/schemas/observables/url.py
  core/schemas/observables/user_account.py
  core/schemas/observables/user_agent.py
  core/schemas/observables/wallet.py
  tests/schemas/observable.py
Labels: enhancement, code health, python, core

#1155 Fix Threatfox feed
  plugins/feeds/public/et_open.py
  plugins/feeds/public/threatfox.py
Labels: bug, tasks:feed
